body{
    padding:7% 15%;
}
.box{

    background-image: url("https://tse2.explicit.bing.net/th?id=OIP.RgYQgmUKDz4ztd2XK4NESAGeCW&pid=Api&P=0&w=432&h=158");
}
.form-control{
    text-align:center;
    opacity:0.5;
    padding:2px;
}
.form1{
    margin:10px 50px 10px 50px;

}
